/TIF. Parte 1. Tutorial Construyendo una API RESTful con Python, Flask y MySQL.pdf
/TIF. Parte 2. Guía paso a paso para desplegar una aplicación Flask en PythonAnywhere.pdf
/Trabajo Práctico Final y Muestra de Proyectos.pdf